* {
    box-sizing: border-box;
}

body {
    background-color: black;
    position: relative;
}

.container {
    height: 400px;
    width: 600px;
    background: rgb(189, 189, 189);
    margin: 0 auto;
    /* margin-top: 15%; */
    overflow: hidden;
}

.contaierOverflow {
    overflow: scroll;
}

.main {
    padding: 0 15px;
}

h3 {
    color: black;
    background-color: rgb(17, 198, 204);
    text-align: center;
    margin: 0 0 15px 0;
    padding: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-weight: 700;
    color: magenta;
}

input::placeholder {
    text-align: center;
    font-weight: 400;
}

input:focus {
    outline: none;
}

h5 {
    color: rgb(27, 4, 236);
    margin: 10px 0 5px 5px;
}

.taskList li {
    color: rgb(219, 9, 9);
    font-weight: 700;
    margin-bottom: 10px;
}

.item {
    color: rgb(140, 0, 255);
}

.nav {
    position: fixed;
    z-index: 999;
    margin: 0 auto;
    width: 600px;
    background: rgb(189, 189, 189);
}

.taskList li:first-child {
    margin-top: 105px;
}

.noTaskWarning {
    color: red;
    text-align: center;
    margin-top: 15%;
    font-weight: 700;
}

footer button {
    width: 600px;
    position: absolute;
    bottom: 0;
    height: 25px;
    padding: 5px;
    background: rgb(216, 152, 4);
    border: none;
    cursor: pointer;
}

footer button:focus {
    outline: none;
}